body {
    background-color: #fdfdb3;
    font-size: 16px;
    font-family: 'Ubuntu', 'Lato', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 0 10%;
}

h1 {
    font-weight: 700;
    color: #060606;
}